# System files
.DS_Store
Thumbs.db
__pycache__/
*.pyc

# IDEs and Editors
.vscode/
.idea/
.obsidian/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.env/

# Large Datasets and Temp files
reads/
trimmed_reads/
*.fastq
*.fq
*.sam
*.bam
*.bai
*.rds
*.tar.gz

# MyHeritage Genomic Data and Database
**/clinical_genomics/myheritage_snp/data/variant_summary.txt*
**/clinical_genomics/myheritage_snp/data/**/*.csv
